.main--content {
   position: relative;
   width: 100%;
}

.main--img {
   position: relative;
}

.main--img img {
   margin: 0;
   min-width: 100%;
}

.mobile--img {
   display: none;
}

.navigation {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 20;
}

.main--services--text {
   width: 50%;
   position: absolute;
   left: 2%;
   top: 55%;
   animation: showLeft 2s;
}

.main--services--text h1 {
   text-align-last: left;
   font-family: "HelveticaBold", "Arial";
   font-size: 110px;
   color: white;
}

/**Services--list*/

.pre--list--text {
   padding-top: 50px;
   font-family: "HelveticaBold", "Arial";
   font-size: 20px;
   color: #515151;
}

h1 {
   user-select: none;
   margin: 50px 0 30px;
   text-align: center;
}

.faqs-container {
   margin: 0 auto;
   width: 100%;
}

.faq {
   padding: 30px;
   padding-left: 0;
   position: relative;
   overflow: hidden;
   margin: 20px 0;
   transition: 0.7s ease;
}

.faq h3 {
   user-select: none;
}

.hidden_faq-title {
   visibility: hidden;
}

.animate_faq-title {
   animation: fadeInUp;
   animation-duration: 2s;
}

.faq-title {
   margin: 0 35px 0 0;
   font-family: "HelveticaBold", "Arial";
   font-size: 36px;
   color: #515151;
}

.faq-text {
   display: none;
   margin: 30px 0 0;
   font-family: "HelveticaMedium";
   font-size: 15px;
}

.faq-text p:last-of-type {
   padding-top: 15px;
}

.faq-text ul {
   width: 60%;
   padding-top: 15px;
   padding-bottom: 15px;
}

.faq-text ul li {
   padding-top: 10px;
}

.faq.active .faq-text {
   display: block;
}

.faq.active .faq-toggle img {
   transform: rotate(180deg);
}

.faq-toggle {
   border: none;
   border-radius: 50%;
   color: #fff;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 16px;
   padding: 0;
   position: absolute;
   top: 30px;
   right: 30px;
   height: 40px;
   width: 40px;
   background-color: #f3f3f3;
}

.faq-toggle:hover {
   transition: 1s;
   background-color: #ff6d0b;
}

.faq-toggle img {
   width: 25%;
   margin: 0 auto;
}

.faq-toggle:focus {
   outline: none;
}

.faq-toggle .fa-times {
   display: none;
}

.faq.active .faq-toggle .fa-times {
   display: block;
}

.faq-toggle .fa-chevron-down {
   color: #83888E;
}

.faq.active .faq-toggle .fa-chevron-down {
   display: none;
}

footer {
   margin-top: 100px;
}

/**Медиазапросы*/
@media(max-width:1827px) {
   .navbar-light .navbar-nav .nav-link {
      font-size: 16px;
   }

   .main--services--text {
      top: 62%;
   }
}

@media(max-width:1400px) {
   .navbar-light .navbar-nav .nav-link {
      font-size: 15px;
   }
}

@media(max-width:1199px) {
   .main--services--text {
      top: 50%;
   }
}

@media(max-width:1147px) {
   .navbar-light .navbar-nav .nav-link {
      font-size: 13px;
   }
}

@media(max-width:991px) {
   .navbar-brand img {
      padding: 0;
   }

   .main--services--text {
      top: 45%;
   }
}

@media(max-width:767px) {
   .main--services--text h1 {
      font-size: 80px;
   }

   .main--services--text {
      top: 40%;
   }

   .pre--list--text {
      font-size: 17px;
   }

   .faq-title {
      font-size: 29px;
   }

   .faq-text ul {
      width: 85%;
      padding-top: 15px;
   }
}

@media(max-width:650px) {
   .main--services--text {
      top: 43%;
   }
}

@media(max-width:575px) {
   .navbar-light .navbar-nav .nav-link {
      font-size: 26px;
   }

   .main--services--text h1 {
      font-size: 65px;
   }
}

@media(max-width:562px) {
   .big--img {
      display: none;
   }

   .mobile--img {
      height: 100vh;
      display: block;
   }
}

@media(max-width:479px) {
   .main--services--text h1 {
      font-size: 60px;
   }

   .main--services--text {
      top: 56%;
   }

   .pre--list--text {
      font-size: 13px;
   }

   .faq-title {
      font-size: 25px;
   }

   .faq-text {
      font-size: 13px;
   }
}

@media(max-width:375px) {
   .main--services--text h1 {
      font-size: 45px;
   }

   .pre--list--text {
      font-size: 11px;
   }

   .faq-text {
      font-size: 12px;
   }

   .faq-title {
      font-size: 21px;
   }
}