.main--content {
   position: relative;
   width: 100%;
}

.main--img {
   position: relative;
}

.main--img img {
   margin: 0;
   min-width: 100%;

}

.mobile--img {
   display: none;
}

.navigation {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 20;
}

.main--services--text {
   width: 100%;
   position: absolute;
   top: 55%;
   animation: showLeft 2s;
}

.main--services--text h1 {
   user-select: none;
   text-align-last: left;
   font-family: "HelveticaBold", "Arial";
   font-size: 110px;
   color: white;
}

/**About us content*/
.header--text {
   padding-top: 50px;
}

.header--text h3 {
   text-align: left;
   color: #e84e0e;
   font-size: 30px;
   font-family: "HelveticaBold", "Arial";
}

.about--us--text {
   padding-top: 50px;
   font-family: "HelveticaBold", "Arial";
   font-size: 20px;
   color: #393939;
}

.about--team {
   width: 100%;
   background-color: #393939;
   margin-top: 50px;
}

.about--team--content {
   display: flex;
}

.about--team--text {
   padding-top: 60px;
   color: white;
}

.team--header {
   width: 100%;
   border-bottom: 1px solid white;
}

.about--team--text h3 {
   font-family: "HelveticaBold", "Arial";
   font-size: 36px;
   padding-bottom: 40px;
}

.about--team--text p {
   font-size: 21px;
   padding-top: 40px;
   font-family: "HelveticaNormal", "Arial";
}

.about-team-pic img {
   margin: 0;
   margin-left: auto;
   width: 90%;
}

.marketing--content {
   padding-top: 50px;

}

.market--heder h3 {
   text-align: center;
   color: #e84e0e;
   font-size: 30px;
   font-family: "HelveticaBold", "Arial";
}

.market--text p {
   padding-top: 40px;
   font-family: "HelveticaBold", "Arial";
   font-size: 20px;
   text-align: center;
   color: #393939;
}

/**Footer*/
footer {
   margin-top: 100px;
}

/**Медиазапросы*/
@media(max-width:1827px) {
   .navbar-light .navbar-nav .nav-link {
      font-size: 16px;
   }

   .main--services--text {
      top: 62%;
   }
}

@media(max-width:1400px) {
   .navbar-light .navbar-nav .nav-link {
      font-size: 15px;
   }
}

@media(max-width:1199px) {
   .main--services--text {
      top: 50%;
   }
}

@media(max-width:1147px) {
   .navbar-light .navbar-nav .nav-link {
      font-size: 13px;
   }
}

@media(max-width:991px) {
   .navbar-brand img {
      padding: 0;
   }

   .main--services--text {
      top: 45%;
   }
}

@media(max-width:767px) {
   .main--services--text h1 {
      font-size: 80px;
   }

   .main--services--text {
      top: 40%;
   }

}

@media(max-width:650px) {
   .main--services--text {
      top: 71%;
   }
}

@media(max-width:575px) {
   .navbar-light .navbar-nav .nav-link {
      font-size: 26px;
   }

   .main--services--text h1 {
      font-size: 65px;
   }
}

@media(max-width:562px) {
   .main--img {
      height: 100vh;
   }

   .big--img {
      display: none;
   }

   .mobile--img {
      height: 100vh;
      display: block;
   }

   .about--team--content {
      flex-direction: column;
   }

   .about-team-pic img {
      padding-top: 40px;
      width: 100%;
   }

   .market--text p {

      text-align: left;
   }
}

@media(max-width:479px) {
   .main--services--text h1 {
      font-size: 60px;
   }

   .main--services--text {
      top: 41%;
   }

}

@media(max-width:375px) {
   .main--services--text h1 {
      font-size: 45px;
   }
}