/*Обнуление стилей
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*Шрифты*/
@font-face {
  font-family: "HelveticaBold";
  src: url(../fonts/HelveticaNeueCyr-Bold_0.otf);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "HelveticaLight";
  src: url(../fonts/HelveticaNeueCyr-Light_0.otf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "HelveticaNormal";
  src: url(../fonts/HelveticaNeueCyr-Roman.otf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaMedium";
  src: url(../fonts/HelveticaNeueCyr-Medium_0.otf);
  font-style: normal;
  font-weight: normal;
}

/*Переработка видео*/
.new--video{
	width: 100%;
	min-height: 100vh;
}

.new--my--video{
	min-width: 100%;
	min-height: 100vh;
}


/**Начало стилей*/
.navigation {
  top: 0;
  left:0;
  min-width: 100%;
}

.navbar-light .navbar-nav .nav-link {
   padding: 10px 45px 10px 45px;
   color: white;
   font-family: "HelveticaLight", "Arial";
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-dark .navbar-toggler {
   color: rgba(255, 255, 255, 0.685);
   border-color: rgba(255,255,255,0 );
   order: -1;
}

.nav-item a:visited {
  color: white;
}

.nav-item a:hover {
  border: 1px solid #ffb400;
  border-radius: 500em;
  color: white;
}

.navigation .logo {
  padding: 10px 0 0 0;
  margin-right: auto;
  margin-left: 137px;
}

.nav--cont {
  /*background: url(../img/overlay.png);*/
  background-size: cover;
}

.navbar-brand img{
   margin: 0;
}
.nav--bar {
  padding-top: 20px;
}

.about--text {
  width: 70%;
  margin: 0 auto;
  padding-top: 265px;
  padding-bottom: 320px;
  padding-top: 263px;

}

.about--text .international--transportation--text {
  width: 100%;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "HelveticaNormal", "Arial";
  padding-bottom: 20px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 2px solid #e84e0e;
  border-image: linear-gradient(to right, #e84e0e, #fdcd2c);
  border-image-slice: 1;
}

.about--text .international--transportation--text.top {
   border-top: 0px;
   border-right: 0px;
   border-left: 0px;
  border-bottom: 2px solid #e84e0e;
  border-image: linear-gradient(to right, #e84e0e, #fdcd2c);
  border-image-slice: 1;
  animation: fromOpacity 3s;
}
@keyframes fromOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about--text .international--transportation--text.top p {
  animation: showLeft 2s;
}

@keyframes showLeft {
  from {
    margin-left: -1000px;
  }
  to {
    margin-left: 0px;
  }
}

.about--text .international--transportation--text.bottom {
  padding-top: 20px;
  padding-bottom: 0;
  border: none;
}
.about--text .international--transportation--text.bottom p {
  text-align: right;
  width: 30%;
  margin-left: auto;
  margin-bottom: -42px;
  animation: showRight 2s;
}

@keyframes showRight {
  from {
    margin-right: -1000px;
  }
  to {
    margin-right: 0px;
  }
}

.future--text {
  width: 30%;
  text-transform: uppercase;
  font-family: "HelveticaBold", "Arial";
  line-height: 80px;
  font-size: 80px;
  color: white;
}

.future--text p {
  animation: showLeft 2s;
}

.image--video{
   display: none;
}
.video {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -20;
  margin-top: -35px;
}
.my--video {
  width: 100%;
  min-height: 100%;
}

.advantages {
  background: white;
  width: 100%;
}

.v1 {
   border-top: 0px;
   border-right: 0px;
   border-bottom: 0px;
  border-left: 2px solid #e84e0e;
  border-image: linear-gradient(to right bottom, #e84e0e, #fdcd2c);
  border-image-slice: 1;
  height: 1070px;
  position: absolute;
  left: 50%;
  margin-left: -1px;
}

.advantages--text {
  width: 30%;
  margin-right: auto;
  padding-top: 50px;
}

.advantages--text h2 {
  font-family: "HelveticaBold", "Arial";
  font-size: 36px;
  color: #515151;
}
.advantages--content{
   width: 100%;
}

.after--text {
   width: 100%;
   font-size: 40px;
   text-align: left;
   font-family: "HelveticaNormal", "Arial";
 }

 .adv-cont{
    width: 50%;
   background-color: #d6dadf;
 }

 .adv-cont .text {
     width: 100%;
     display: flex;
     align-items: center;
     padding: 0;
     margin: 0;
     color: #515151;
   }

/*цифра 1*/
.first {
  margin-left: auto;
}

.advantages_hidden {
  visibility: hidden;
}

.advantages_anim {
  color: #515151;
}

.animate_adveantages {
  animation: fadeInUp;
  animation-duration: 1s;
}

.number {
  color: #515151;
  font-size: 241px;
  font-family: "HelveticaBold", "Arial";
  line-height: 0.7;
  padding: 0;
}

.one {
margin-left: -5.938rem;
}

/*цифра 2*/
.second {
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #d6dadf;
}
.second--text {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  color: #515151;
}

.second .after--text {
  padding-left: 35px;
}

.two {
  padding-left: 15px;
}

/*цифра 3*/
.thrid {
  width: 50%;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #d6dadf;
}

.thrid--text {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  color: #515151;
}

.thrid--text .after--text,
.fifth--text .after--text {
  padding-left: 31px;
}

.three {
  margin-left: -8rem;
}

/*цифра 4*/
.forth {
  width: 50%;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #d6dadf;
}
.forth--text {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  color: #515151;
}

.forth .after--text {
  padding-left: 35px;
}

.four {
  padding-left: 15px;
}

/*цифра 5*/
.fifth {
  width: 50%;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #d6dadf;
}

.fifth--text {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  color: #515151;
}

.five {
  margin-left: -8rem;
}

.conts-img {
  min-width: 100%;
  margin: 0 auto;
  margin-top: -20px;
}

.conts {
  margin: 0;
  min-width: 100%;
}

.animate_transport--types {
  animation: fadeInLeft;
  animation-duration: 1s;
}

.transport--types {
  background-color: #393939;
  padding-top: 55px;
}

.transport--types--text h2 {
  font-family: "HelveticaBold", "Arial";
  font-size: 36px;
  color: white;
  margin-bottom: 15px;
}

.icons {
  margin-top: 35px;
}

.flex-icons {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  border-right: 0px;
  border-left: 0px;
  border-top: 1px solid white;
  border-bottom:1px solid white;
  padding-top: 40px;
}
.icon1,
.icon2,
.icon3,
.icon4 {
  width: 20.2rem;
}

.icon--cont {
  width: 135px;
  height: 135px;
  background-color: #e84e0e;
  border-radius: 50%;
  margin: 0 auto;
}

.icon--cont:hover {
  background-color: #515151;
}

.transport--icon {
  margin: 0 auto;
  padding-top: 15px;
}

.transport--icon4 {
  margin: auto;
  padding-top: 33px;
}

.text {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-family: "HelveticaMedium", "Arial";
  font-size: 20px;
  color: white;
}

.hidden {
  visibility: hidden;
}

.animate_text {
  animation: fadeInUp;
  animation-duration: 1s;
}

/**Для новой карты*/
.map {
   width: 100%;
   padding-top: 100px;
   background-color: #393939;
   background-image: url(../img/white--block.png);
   background-repeat: no-repeat;
   background-position: left 100%;
 }

.map--content{
   display: flex;
   margin-bottom: -.4rem;
}

.video--section{
   width: 65%;
}

.video--section video{
   max-width: 100%;
}

.after--map--text{
   width: 25%;
   margin-left: auto;
}

.text--header {
   font-family: "HelveticaBold", "Arial";
   font-size: 33px;
   color: white;
   text-align: left;
 }

 .animate_text--header {
   animation: fadeInRight;
   animation-duration: 1s;
 }

 .after--map--text p{
    padding-top: 15px;
   font-family: "HelveticaNormal", "Arial";
   color: white;
   text-align: left;
 }

/***/

.partners {
  margin-bottom: 50px;
  padding-top: 50px;
}

.partners--text h2 {
  font-family: "HelveticaBold", "Arial";
  font-size: 36px;
  color: #515151;
}

/*слайдер*/

.partners--slider {
   border-top: 0px;
   border-right: 0px;
   border-left: 0px;
  border-bottom: 1px solid #c5c5c5;
  border-top: 1px solid #c5c5c5;
}

.slick-list {
  overflow: hidden;
}

.slider .slick-arrow {
  display: none;
  visibility: hidden;
}

.slick-track {
  display: flex;
}

.slider-item {
  min-height: 200px;
  align-items: center;
}

.form--section {
  width: 100%;
  background: #c1c7cf;
  margin-top: 105px;
}

.logo-cont{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
}

.logo-cont img{
   margin: 0;
   display: block;
}

.callback--text {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 40px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 2px solid #e84e0e;
  border-image: linear-gradient(to right, #e84e0e, #fdcd2c);
  border-image-slice: 1;
}

.callback--text h2 {
  font-family: "HelveticaBold", "Arial";
  font-size: 48px;
  padding-bottom: 36px;
  color: #515151;
}

.form--container{
   display: flex;
   justify-content: space-between;
}

.input--cont {
  width: 45%;
  margin-bottom: 60px;
}

input {
  width: 100%;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px solid gray;
  background: #c1c7cf;
  outline: none;
}

.form--send {
  border: none;
  font-family: "HelveticaLight", "Arial";
  font-size: 18px;
  color: white;
  background-color: #e84e0e;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 50px;
  width: 20%;
  height: 45px;
}

.form--send:hover {
  background-color: white;
  color: #e84e0e;
  border: 1px solid #e84e0e;
}

.pre--contacts {
  width: 100%;
}

.contacts {
  background-color: white;
}
.cont--info h2 {
  padding-top: 45px;
  margin-bottom: 35px;
  font-family: "HelveticaBold", Arial;
  color: #515151;
  font-size: 40px;
}

.adress {
  margin-bottom: 50px;
}
.adress p {
  color: #515151;
  font-size: 20px;
  font-family: "HelveticaLight";
}

.adress p:nth-of-type(1) {
  font-family: "HelveticaMedium", Arial;
}

.phone--number {
  margin-bottom: 50px;
}
.phone--number p {
  color: #515151;
  font-size: 20px;
  font-family: "HelveticaLight", Arial;
}

.phone--number p:nth-of-type(1) {
  font-family: "HelveticaMedium", Arial;
}

.e-mail {
  margin-bottom: 50px;
}

.e-mail p {
  color: #515151;
  font-size: 20px;
  font-family: "HelveticaLight", Arial;
}

.e-mail p:nth-of-type(1) {
  font-family: "HelveticaMedium", Arial;
}

footer {
  background-color: #515151;
}

.footer-copyright a {
  color: inherit;
}
.footer-copyright a:visited {
  color: inherit;
}

/* Медиазапросы */
@media (max-width: 1827px) {
   .about--text {
      padding-bottom: 220px;
      padding-top: 200px;
    }
}

@media (max-width: 1670px) {
   .about--text {
      padding-bottom: 190px;
      padding-top: 180px;
    }
}

@media (max-width: 1580px) {
  .about--text {
    padding-bottom: 75px;
    padding-top: 150px;
  }

  .about--text .international--transportation--text {
    font-size: 25px;
  }

  .future--text {
    font-size: 70px;
  }
}

@media (max-width: 1400px) {
  .about--text {
    padding-bottom: 102px;
    padding-top: 180px;
  }

  .about--text .international--transportation--text {
    font-size: 21px;
  }

  .future--text {
    font-size: 65px;
    line-height: 68px;
  }

  .after--text {
    font-size: 30px;
  }
  .transport--types--text h2 {
    font-size: 26px;
  }

  .advantages--text h2 {
    font-size: 26px;
  }
  .icon--cont {
    width: 130px;
    height: 130px;
  }
  .text--header {
    font-size: 26px;
  }
  .after--map--text p {
    font-size: 15px;
  }
  .text {
    font-size: 16px;
  }
  .number {
    font-size: 220px;
  }
  .one {
    margin-left: -5.5rem;
  }
  .three,
  .five {
    margin-left: -7.3rem;
  }
  .icon1, .icon2, .icon3, .icon4 {
   width: 25%;
   }
  .v1 {
    height: 945px;
  }
  .partners {
    margin-bottom: 40px;
    padding-top: 40px;
  }
  .partners--text h2 {
    font-size: 26px;
  }
  .slider-item img{
     width: 70%;
  }
  .callback--text h2 {
   font-size: 38px;
   padding-bottom: 30px;
 }
 .cont--info h2 {
   font-size: 26px;
 }
 .adress p {
   font-size: 19px;
 }
 .phone--number p {
   font-size: 19px;
 }
 .e-mail p {
   font-size: 19px;
 }
}

@media (max-width: 1250px) {
  .logo img {
    width: 70%;
  }
  .nav li a {
    font-size: 15px;
  }
  .about--text {
    padding-bottom: 140px;
    padding-top: 135px;
  }
  .about--text .international--transportation--text {
    font-size: 15px;
  }
  .international--transportation--text.top {
    padding-bottom: 10px;
  }
  .international--transportation--text.bottom {
    padding-top: 10px;
  }
  .future--text {
    width: 40%;
    font-size: 60px;
    line-height: 65px;
  }
  .icon1, .icon2, .icon3, .icon4 {
   width: 25%;
}
}

@media (max-width: 1199px){
   .video--section {
      width: 65%;
  }
  .after--map--text {
   width: 30%;
   margin-left: auto;
}
}

@media (max-width: 1147px) {
   .navigation .logo {
      margin-left: 90px;
  }
  .nav li a {
    font-size: 15px;
  }
  .about--text {
    padding-bottom: 65px;
    padding-top: 125px;
  }
  .about--text .international--transportation--text {
    font-size: 15px;
  }
  .international--transportation--text.top {
    padding-bottom: 10px;
  }
  .international--transportation--text.bottom {
    padding-top: 10px;
  }
  .future--text {
    width: 40%;
    font-size: 60px;
    line-height: 65px;
  }
  .map--video--cont {
   height: auto;
 }
 .icon1, .icon2, .icon3, .icon4 {
   width: 20.2rem;
}
}

@media (max-width: 991px) {
  .navbar-dark .navbar-brand {
   margin: 0;
   width: 25%;
   }
   .navbar-brand img{
      margin-top: 0;
   }
   .navbar-light .navbar-nav .nav-link {
      padding: 5px 45px 10px 45px;
  }
  .nav-item a:hover {
   border: none;
   color: white;
 }
  .navbar-collapse {
   position: absolute;
   top: 70px;
}
.about--text {
   padding-bottom: 65px;
   padding-top: 65px;
}
.international--transportation--text.top {
   padding-bottom: 5px;
}
.about--text .international--transportation--text.bottom {
   padding-top: 10px;
}

.about--text .international--transportation--text {
   font-size: 12px;
}
.future--text {
   padding-top: 17px;
   font-size: 50px;
   line-height: 58px;
}
.about--text .international--transportation--text.top p{
   text-align: right;
}
   .my--video{
      min-height: 100%;
   }

   .map--content {
      flex-wrap: wrap-reverse;
  }
   .video--section{
      width: 100%;
   }
   .after--map--text{
      width: 100%;
      margin-bottom: 25px;
   }
   .after--text {
      font-size: 25px;
  }
   .form--section {
      margin-top: 50px;
  }
}

@media(max-width: 767px){
   .navbar-collapse {
      z-index: 20;
      background-color: rgba(0, 0, 0, .7);
      width: 70%;
  }
   .international--transportation--text.top {
      padding-bottom: 5px;
  }
  .about--text .international--transportation--text.bottom {
   padding-top: 5px;
}
.about--text .international--transportation--text {
   font-size: 11px;
}
.future--text {
   padding-top: 23px;
   font-size: 45px;
   line-height: 50px;
}
.about--text {
   padding-top: 46px;
   padding-bottom: 43px;
}

.icon1, .icon2, .icon3, .icon4 {
   width: 50%;
}
.map{
   padding-top: 60px;
   background-image: none;
}
.v1 {
   height: 470px;
}
 .number{
    /* !!!!! */
    font-size: 100px;
 }
 .one{
    margin-left: -2.5rem;
 }
 .three, .five {
   margin-left: -3.3rem;
}
 .after--text{
    font-size: 16px;
 }
 .callback--text h2 {
   font-size: 31px;
}
.form--container {
   flex-wrap: wrap;
}
.input--cont {
   width: 100%;
   margin: 0 auto;
   margin-bottom: 60px;
 }
 .form--send {
    font-size: 16px;
   width: 32%;
}
}
@media(max-width: 650px){
   .about--text .international--transportation--text.bottom p {
      width: 35%;
  }
   .future--text {
      padding-top: 23px;
      font-size: 36px;
      line-height: 40px;
  }
  .about--text {
   padding-top: 32px;
   padding-bottom: 46px;
}
}
@media(max-width: 575px){
   .navbar-collapse {
      left: 0;
      height: 36vh;
      background-color: rgba(0, 0, 0, .7);
      width: 100%;
  }
   .about--text {
      padding-top: 37px;
      padding-bottom: 40px;
  }
   .about--text .international--transportation--text.bottom p {
      width: 35%;
  }
   .future--text {
      width: 39%;
      font-size: 38px;
      line-height: 40px;
  }
   .icon1, .icon2, .icon3, .icon4 {
      width: 100%;
  }
  .v1 {
   height: 458px;
}
.after--text {
   font-size: 14px;
}
img{
   margin-top: 20%;
}
.slick-track{
   padding: 0;
}
.callback--text h2 {
   font-size: 26px;
}
.input--cont {
   width: 85%;
}
.button--cont{
   display: flex;
   justify-content: space-around;
}
.adress p {
   font-size: 15px;
}
.phone--number p {
   font-size: 15px;
}
.e-mail p {
   font-size: 15px;
}
}
@media(max-width: 562px){
   .navbar-dark .navbar-brand {
      width: 30%;
  }
   .navbar-brand img {
      padding-right: 20px;
  }
   .navigation{
      position: absolute;
      z-index: 2;
   }
   .image--video{
      width: 100%;
      display: block;
      position: relative;
      height: 100vh;
   }
   .image--video img{
      margin: 0;
      width: 100%;
      height: 100%;
   }
   .video{
      display: none;
   }
   .about--text .international--transportation--text.top p {
      text-align: left;
   }
   .about--text .international--transportation--text.bottom p {
      text-align: left;
      width: 100%;
  }
  .about--text .international--transportation--text.top {
   border-top: 0px;
   border-right: 0px;
   border-left: 0px;
   border-bottom: 1px solid #e84e0e;
   border-image: linear-gradient(to right, #e84e0e, #fdcd2c);
   border-image-slice: 1;
   animation: fromOpacity 3s;
}
.about--text .international--transportation--text {
   font-size: 15px;
}
   .future--text {
      padding-top: 70px;
    width: 80%;
    font-size: 49px;
    line-height: 51px;
}  

.about--text {
   padding-top: 35vh;
}
.transport--types {
   background-color: #393939;
   padding-top: 3.5rem;
}
  }

@media(max-width: 479px){
   .image--video{
      width: 100%;
      display: block;
      position: relative;
      height: 100vh;
   }
   .image--video img{
      height: 100%;
      margin: 0;
   }
   .video{
      display: none;
   }
   .about--text .international--transportation--text.top p {
      text-align: left;
   }
   .about--text .international--transportation--text.bottom p {
      text-align: left;
      width: 100%;
  }
  .about--text .international--transportation--text.top {
   border-top: 0px;
   border-right: 0px;
   border-left: 0px;
   border-bottom: 1px solid #e84e0e;
   border-image: linear-gradient(to right, #e84e0e, #fdcd2c);
   border-image-slice: 1;
   animation: fromOpacity 3s;
}
.about--text .international--transportation--text {
   font-size: 15px;
}
   .future--text {
      padding-top: 70px;
    width: 80%;
    font-size: 50px;
    line-height: 51px;
}  

.about--text {
   padding-top: 30vh;
}
.transport--types {
   background-color: #393939;
   padding-top: 50px;
}
.v1{
   height: 449px;
}
.after--text {
 font-size: 10px;
}
.second .after--text, .thrid--text .after--text,.forth .after--text, 
.fifth--text .after--text{
   padding-left: 10px;
}
.number{
   line-height: 3.4rem;
   font-size: 75px;
}
.one{
   margin-left: -1.875rem;
}
.two{
   padding-left: 2px;
}
img {
 margin-top: 30%;
}
.button--cont{
 display: flex;
 justify-content: space-around;
}
  }


@media(max-width: 464px){
   .future--text {
      padding-top: 70px;
    width: 80%;
    font-size: 50px;
    line-height: 51px;
}
  .my--video {
   min-height: 100%;
   height: 47vh;
}
.video{
   margin-top: -54px;
}
.transport--types--text h2 {
    font-size: 22px;
}
.text--header {
   font-size: 22px;
}
.text {
   font-size: 14px;
}
.after--map--text p {
   font-size: 13px;
}
.advantages--text {
   width: 30%;
   margin-right: auto;
   padding-top: 30px;
}
.advantages--text h2 {
   margin-bottom: 25px;
   font-size: 22px;
}
.v1 {
   height: 463px;
}
.conts-img {
   min-width: 100%;
   margin: 0 auto;
   margin-top: 0px;
}
.partners--text h2 {
   font-size: 22px;
}
.partners {
   margin-bottom: 27px;
   padding-top: 29px;
}
.callback--text h2 {
   font-size: 22px;
}
.cont--info h2 {
   font-size: 22px;
}
.footer-copyright a:visited{
   color: inherit;
}
}

@media(max-width: 375px){
.about--text {
    padding-top: 40vh;
}
.future--text {
   padding-top: 70px;
   width: 70%;
   font-size: 43px;
   line-height: 51px;
}
.about--text .international--transportation--text {
   font-size: 12px;
}
}  